%section.panel.radius.plot
  %h3.subheader Pareto chart -  #{params["output"]}
  .row
  %span.button.hide= 'Hide chart'
  %br
    .chart

:javascript
  $(function() {
    var div_id = "#pareto_chart_#{params['chart_id']}";
    $("span.button.hide").on('click', function() {
      $(div_id).remove();
    });
  });