%section.panel.radius.plot
  %h3.subheader Pareto chart -  #{params["output"]}
  .row
  %span.button.hide{id: "pareto_hide_#{params['chart_id']}"} Hide chart
  %br
    .chart

:javascript
  $(function() {
    var div_id = "#pareto_chart_#{params['chart_id']}";
    $("#pareto_hide_#{params['chart_id']}").on('click', function() {
      $(div_id).remove();
    });
  });