=define_helper_functions

%section#kmeans_chart_form.panel.radius.plot
  %h3.subheader K-means clustering by #{Array(params[:array]).flatten.to_sentence}
  .row
  %span.button.hide= 'Hide chart'
  %br
    .chart

      :javascript
        $(function() {
          $("span.button.hide").on('click', function() {
            $("div#kmeans_chart_#{params["chart_id"]}").remove();
          });
        });