=define_helper_functions

%section#dendrogram_chart_form.panel.radius.plot
  %h3.subheader Dendrogram for hierarchical clustering by #{params[:array].to_sentence}
  .row
  %span.button.hide= 'Hide chart'

  %br
    .chart

      :javascript
        $(function() {
          $("span.button.hide").on('click', function() {
            $("div#dendrogram_chart_#{params["chart_id"]}").remove();
          });




        });