=define_helper_functions

%section#threeD_charts_form.panel.radius.analysis-chart
  %a.close-reveal-modal &#215
  %h3.subheader="3d scatter plot charts"

  .row
    .small-5.columns
      %label.inline="Select first parameter"
    .small-7.columns
      %select(id="first_param" class ="moes_params_list")
  .row
    .small-5.columns
      %label.inline="Select second parameter"
    .small-7.columns
      %select(id="second_param" class ="moes_params_list")
  .row
    .small-5.columns
      %label.inline="Select third parameter"
    .small-7.columns
      %select(id="third_param" class ="moes_params_list")

  .row
    %ul.inline-list
      %li
        %button.refresh Refresh parameters
      %li
        %button.radius Load chart
      %li
        %img(src="#{image_url("loading.gif")}" class="loading_chart_gif" id='busy_3d' size='16x16' style='display: none' )




.charts
  .scripts

:javascript

  $(function(){

    /* function from global variable moes_info_json create html selectbox with moe and params values and then replacing exiting values with new ones*/
    window.reload_three_d_params = function(){
      $("#busy_3d").show();
      reload_selectbox_params_and_moes();
      $('#busy_3d').hide();
    };
    reload_three_d_params();

    var three_d_chart_counter = 0;
    var load_chart = function() {
      var three_d_chart_div = $("<div id=\"three_d_chart_"+three_d_chart_counter+"\">")[0];
      $("#three_dModal .charts").prepend(three_d_chart_div);
      //TODO - if there's nothing to select -> do nothing
      var x_selector = $("#three_dModal select#first_param option:selected");
      var y_selector = $("#three_dModal select#second_param option:selected");
      var z_selector = $("#three_dModal select#third_param option:selected");
      var x_axis = x_selector.val();
      var y_axis = y_selector.val();
      var z_axis = z_selector.val();
      var x_axis_label = x_selector.text();
      var y_axis_label = y_selector.text();
      var z_axis_label = z_selector.text();
      x_axis_label = escapeHtml(x_axis_label);
      y_axis_label = escapeHtml(y_axis_label);
      z_axis_label = escapeHtml(z_axis_label);
      x_axis = escapeHtml(x_axis);
      y_axis = escapeHtml(y_axis);
      z_axis = escapeHtml(z_axis);
      var query_params = "experiment_id=#{@experiment.id}";
      query_params += "&param_x_label="+x_axis_label;
      query_params += "&param_y_label="+y_axis_label;
      query_params += "&param_z_label="+z_axis_label;
      query_params += "&param_x="+x_axis;
      query_params += "&param_y="+y_axis;
      query_params += "&param_z="+z_axis;
      query_params += "&chart_id="+three_d_chart_counter;

      var url = "#{@prefix}/chart_instances/three_d?"+query_params;

      var handler = function(data) {
        $("#busy_3d").hide();
        var targetOffset = $(three_d_chart_div).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
        $(three_d_chart_div).html(data);
      };
      getWithSession(url, {}, handler, onErrorHandler);
      three_d_chart_counter++;

    };

    $("#three_dModal").find("button.refresh").bind("click", reload_three_d_params);




    $("#three_dModal").find("button.radius").bind("click", function() {
      $("#busy_3d").show();
      load_chart();
    });

  });
