=define_helper_functions

%section#threeD_charts_form.panel.radius.analysis-chart
  %a.close-reveal-modal &#215
  %h3.subheader="3d scatter plot charts"

  .row
    .small-5.columns
      %label.inline="Select first parameter"
    .small-7.columns
      %select(id="firstParam" class ="moes_params_list")
  .row
    .small-5.columns
      %label.inline="Select second parameter"
    .small-7.columns
      %select(id="secondParam" class ="moes_params_list")
  .row
    .small-5.columns
      %label.inline="Select third parameter"
    .small-7.columns
      %select(id="thirdParam" class ="moes_params_list")

  .row
    %ul.inline-list
      %li
        %button.refresh Refresh parameters
      %li
        %button.radius Load chart
      %li
        %img(src="#{image_url("loading.gif")}" class="loading_chart_gif" id='busy_3d' size='16x16' style='display: none' )




.charts
  .scripts

:javascript

  $(function(){

    /* function from global variable moes_info_json create html selectbox with moe and params values and then replacing exiting values with new ones*/
    window.reload_three_d_params = function(){
      $("#busy_3d").show();
      //moes_info_json is global array of json with info (label id type of) parameters (EM global variable)
      var new_select ="<optgroup label='Parameters'>";
      for (var iter in moes_info_json){
        var param = moes_info_json[iter];
        if (param.id == "delimiter")
          new_select = new_select +"</optgroup> <optgroup label='Moes'>";
        else
          new_select = new_select + "<option value='"+escapeHtml(param.id)+"'>"+escapeHtml(param.label)+"</option> ";
      }
      new_select = new_select +"</optgroup>";

      /* replace old values with new ones (input parameters and moes) */
      $(".moes_params_list").each(function(){
        selected_option = $(this).find(":selected").val();
        $(this).html(new_select);
        $(this).find("option").filter(function(){
          return $(this).val() == selected_option
        }).attr('selected', true)
      });
      $('#busy_3d').hide();
      toastr.success("Parameters refreshed");

    };
    reload_three_d_params();

    var three_d_chart_counter = 0;
    var load_chart = function() {
      var three_d_chart_div = $("<div id=\"three_d_chart_"+three_d_chart_counter+"\">")[0];
      $("#three_dModal .charts").prepend(three_d_chart_div);
      //TODO - if there's nothing to select -> do nothing
      var x_axis = $("#three_dModal select#firstParam option:selected").val();
      var y_axis = $("#three_dModal select#secondParam option:selected").val();
      var z_axis = $("#three_dModal select#thirdParam option:selected").val();
      x_axis = escapeHtml(x_axis)
      y_axis = escapeHtml(y_axis)
      z_axis = escapeHtml(z_axis)

      var query_params = "experiment_id=#{@experiment.id}";
      query_params += "&param_x="+x_axis;
      query_params += "&param_y="+y_axis;
      query_params += "&param_z="+z_axis;
      query_params += "&chart_id="+three_d_chart_counter;

      var url = "#{@prefix}/chart_instances/three_d?"+query_params;

      var handler = function(data) {
        $("#busy_3d").hide();
        var targetOffset = $(three_d_chart_div).offset().top;
        $('html,body').animate({ scrollTop: targetOffset }, 1000);
        $(three_d_chart_div).html(data);
      };
      getWithSession(url, {}, handler, onErrorHandler);
      three_d_chart_counter++;

    };

    $("#three_dModal").find("button.refresh").bind("click", reload_three_d_params);




    $("#three_dModal").find("button.radius").bind("click", function() {
      $("#busy_3d").show();
      load_chart();
    });

  });
