%section.panel.radius.plot
%h3.subheader
    = "3D scatter plot chart - xAxis: '%{param1}' yAxis: '%{param2}' zAxis: '%{param3}'"
    .row
%button= 'Hide chart'
%br
    .chart
- content_for :javascript do
:javascript
    $(function () {
        var div_id = "#three_d_chart_";
        $(div_id + " .button").on('click', function () {
            $(div_id).remove();
        });
    });
