%section.panel.radius.plot{:style =>"overflow:auto;"}
  %h3.subheader C5.0 - decision tree for '#{params["output"]}'
  .row
  %span.button.hide= 'Hide chart'
  %br
    .chart


  :css
    .node {
      cursor: pointer;
    }

    .node circle {
      fill: #fff;
      stroke: steelblue;
      stroke-width: 3px;
    }

    .node text {
      font: 12px sans-serif;
    }

    .link {
      fill: none;
      stroke: #ccc;
      stroke-width: 2px;
    }


:javascript
  $(function() {
    var div_id = "#c50_chart_#{params['chart_id']}";
    $("span.button.hide").on('click', function() {
      $(div_id).remove();
    });
  });