<!DOCTYPE html>
<html>
<head>
  <title>Scalarm data explorer</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="row">
    <div class="small-12 small-centered columns" style="text-align: center; margin: 20px">
      <h2>
        Data explorer
      </h2>
      <h3>
        Daea Explorer is a service of the Scalarm platform. This module is responsible for analysis and visualization of data experiment experiments results.
      </h3>
    </div>
  </div>
</header>
<div style="margin-left: 20%; margin-right: 20%;">

<%= yield %>

</div>

</body>
</html>
